@media (max-width: 1500px){

    main .inter-s1{
        height: 800px;
        gap: 0px;
        justify-content: space-around;
        }
    
        main .inter-ar1{
            height: auto;
            }
    
            .tours-s3{
                height: auto;
                padding-top: 150px;
                article{
                    height: auto;
                }
            }
    
    .shop-s2{
        margin-bottom: 50px;
        }
        .t3-grid div{
            width: 150px;
            height: 150px;
        }
    
        .footer-inter{
            margin-top: 300px;
        }
    }
    
    
    
    