.index-s3{
    height: auto;
}

@media (max-width: 768px) {

    nav ul li a {
        text-decoration: none;
        font-size: 25px;
    }



    header div {
        width: 50px;
        height: 50px;
        margin-left: 1.5625rem;
    }
.mini-sec6{
    p{
        width: auto;
        padding: 2px;
    }
}

.d1{
    height: 110px;
    width: 300px;
}

.tours-s1 div {
    width: 400px;
    height: 150px;
    }

    .shop-s1 {
    flex-direction: column;
    }

    .ddh div {
        width: 250px;
        font-size: 20px;
        }

        ddh h4 {
            font-size: 20px;
            }


                .shop-s2 {
                gap: 15px;
                }



.card-2 {
    width: 250px;
    margin-bottom: 50px;
    .c2-ar {
        width: 80px;
        }
        .c2-img {
            width: 175px;
            height: 175px;
            }
    }


.shop-s3 {
    height: auto;
    div {
        width: 100%;
        }
    }


.shop-s4 {
    flex-direction: column;
    align-items: center;
    .shop-s4-img {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
        }
        .shop-s4-h4 {
            font-size: 24px;
            }
    }


.inter-s1{
        align-content: space-around;
        div{
            width: 200px;
            height: 200px;
            img{
                border-radius: 100%;
                }
            }
        }}

footer{
    height: auto;
}