*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 6rem;
}

/*font*/

h2{
    font-family: "Inria Serif", serif;  
}
h3{
    font-family: "Inria Serif", serif;
    font-size: 20px;
}
h4{
    font-family: "Inria Serif", serif;
    font-size: 20px;
}
h5{
    font-family: "Inria Serif", serif;
    font-size: 20px;
}

p{
    font-family: "Inter", sans-serif;
}